<nav class="landing-navbar navbar navbar-expand-lg navbar-light fixed-top pt-lg-4">
  <div class="container-fluid px-3">
    <a class="navbar-brand text-big font-weight-bolder line-height-1 text-expanded py-3" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#landing-navbar-collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="landing-navbar-collapse">
    {% include navigation.html navigation=site.data.navigation %}
  </div>

</nav>
